body{
    font-family: Segoe Script;
}
h1{
    text-align: center;
    color: red;
    margin: 30px 050px;
}
.gallery{
    margin: 5px 50px;
}
.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
    
}
.gallery img:hover{
    filter:grayscale(0);
    transform: scale(1.1);
}